.root {
  margin-bottom: 2rem;
}

.title {
  font-weight: 500;
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
}

.title:hover {
  background: #80d2ac33;
}

.excerpt {
  margin: 0;
  color: var(--neutral-dark);
}

.info {
  display: block;
  color: var(--neutral);
}

.compact {
  margin-bottom: 0.75rem;
}

.compact > a {
  font-size: 1rem;
}

.compact > p {
  font-size: 0.85rem;
}
