.root {
  margin-bottom: 2rem;
}

.title {
  font-weight: 500;
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
}

.title:hover {
  background: rgba(251, 191, 36, 0.3);
}

.excerpt {
  margin: 0;
  color: rgb(115, 115, 115);
}

.info {
  display: block;
  color: rgb(163, 163, 163);
}
