@media only screen and (max-width: 480px) {
  .filterBar {
    margin-bottom: 1.5rem;
  }
  .search {
    width: 100%;
  }
  .list {
    flex-wrap: wrap;
    overflow-x: scroll;
    max-height: 40px;
    flex-direction: column;
    overflow-y: hidden;
  }
}

.search {
  margin-bottom: 1.5rem;
  padding-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 4px;
  border: 1px solid;
}

.list {
  display: flex;
  margin-left: 0;
  flex-wrap: wrap;
}

.listItem {
  list-style: none;
  margin-right: 0.5rem;
}

.item {
  border: 1px solid black;
  cursor: pointer;
  background: none;
  border-radius: 4px;
}

.item:hover {
  font-weight: bold;
}

.item.selectedItem {
  font-weight: bold;
  border: 2px solid rebeccapurple;
}

.ratingSortButton {
  cursor: pointer;
}
