.search {
  margin-bottom: 1.5rem;
  padding-left: 0.5rem;
}

.list {
  display: flex;
  margin-left: 0;
  flex-wrap: wrap;
}

.listItem {
  list-style: none;
  margin-right: 0.5rem;
}

.item {
  border: 1px solid black;
  cursor: pointer;
}

.item.selectedItem {
  border: 2px solid rebeccapurple;
}
