.addForm {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.addForm > input:not([type='checkbox']) {
  margin-bottom: 1rem;
}

.errorMessage {
  color: red;
}

.deployTriggerInput {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.deployTriggerInput > span {
  margin-right: 0.5rem;
}

.starRatingContainer {
  margin-bottom: 1rem;
}
